In [4]:
import pandas as pd

In [5]:
data=pd.read_csv('C:/Users/Manikanta/Machine learning/CSV Files/salaries.csv')

In [8]:
data.shape

(16, 4)

In [5]:
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [9]:
print(data.job)

0         sales executive
1         sales executive
2        business manager
3        business manager
4     computer programmer
5     computer programmer
6         sales executive
7     computer programmer
8        business manager
9        business manager
10        sales executive
11        sales executive
12       business manager
13       business manager
14    computer programmer
15    computer programmer
Name: job, dtype: object

In [17]:
len(data.job)

16

In [21]:
print([data.job])

[0         sales executive
1         sales executive
2        business manager
3        business manager
4     computer programmer
5     computer programmer
6         sales executive
7     computer programmer
8        business manager
9        business manager
10        sales executive
11        sales executive
12       business manager
13       business manager
14    computer programmer
15    computer programmer
Name: job, dtype: object]

In [22]:
len([data.job])

1

In [35]:
a=([data.job],[data.degree])

In [36]:
len(a)

2

In [37]:
len([a])

1

In [38]:
b="ram"
len(b)

3

In [39]:
len([b])

1

In [47]:
d=pd.Series.tolist(data.job)

In [48]:
len(d)

16

In [49]:
d

['sales executive',
 'sales executive',
 'business manager',
 'business manager',
 'computer programmer',
 'computer programmer',
 'sales executive',
 'computer programmer',
 'business manager',
 'business manager',
 'sales executive',
 'sales executive',
 'business manager',
 'business manager',
 'computer programmer',
 'computer programmer']